In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import r2_score
from sklearn.linear_model import LinearRegression

In [31]:
# Load the data from CSV file
data = pd.read_csv("output_file1.csv")
df = pd.DataFrame(data)
df.columns
df = df.drop(['Last_Update','Lat','Long_','Combined_Key','Incident_Rate','Case_Fatality_Ratio'],axis=1)

In [32]:
df.describe(include= 'all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
FIPS,36699,1071,01-01-2021,37,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Province_State,36699,118,Andaman and Nicobar Islands,991,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Confirmed,36699,30098,0,595,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Deaths,36129.0,NaN,NaN,NaN,9990.420936,21405.556652,0.0,388.0,3073.0,10563.0,148421.0
Recovered,36129,13680,"West Bengal, India",570,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Active,35757,26077,17717.17704760279,212,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
df=df.dropna()
df.shape

(35757, 6)

In [34]:
df.isnull().sum()

FIPS              0
Province_State    0
Confirmed         0
Deaths            0
Recovered         0
Active            0
dtype: int64

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35757 entries, 0 to 36698
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   FIPS            35757 non-null  object
 1   Province_State  35757 non-null  object
 2   Confirmed       35757 non-null  object
 3   Deaths          35757 non-null  float64
 4   Recovered       35757 non-null  object
 5   Active          35757 non-null  object
dtypes: float64(1), object(5)
memory usage: 1.9+ MB

In [36]:
df = df.replace('NaN', 0.0)

In [37]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Deaths,35757.0,10094.356853,21492.223732,0.0,411.0,3228.0,10621.0,148421.0

In [45]:
df['Recovered'] = pd.to_numeric(df['Recovered'], errors='coerce').astype(float)
df['Active'] = pd.to_numeric(df['Active'], errors='coerce').astype(float)
df['Active'] =df['Active'].dropna()

In [46]:
df['Recovered'] = df['Recovered'].replace({'[^0-9\.-]+': ' '}, regex=True)
df['Recovered']=df['Recovered'].dropna()
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Deaths,35757.0,10094.356853,21492.223732,0.0,411.00000,3228.000000,10621.000000,148421.0
Recovered,15188.0,319990.514551,639543.464767,0.0,9871.75000,66272.500000,325536.750000,6117560.0
Active,35677.0,12064.754302,38284.520975,0.0,1598.48335,3446.510508,8576.807573,701614.0

In [55]:
some_value ='Tamil Nadu'

# Convert the date column to datetime
df['FIPS'] = pd.to_datetime(df['FIPS'])

sortedDateValue =  df.sort_values(by='FIPS', inplace = True)

sortedDateValueForTN = df.loc[df['Province_State'] == some_value]
#df['FIPS'].astype
sortedDateValueForTN=sortedDateValueForTN.dropna
sortedDateValueForTN

<bound method DataFrame.dropna of             FIPS Province_State Confirmed   Deaths  Recovered        Active
14021 2020-06-10     Tamil Nadu     34914    307.0    18325.0  16282.000000
14131 2020-06-11     Tamil Nadu     38716    349.0    20705.0  17662.000000
14241 2020-06-12     Tamil Nadu     38716    349.0    20705.0  17662.000000
14351 2020-06-13     Tamil Nadu     40698    367.0    22047.0  18284.000000
14461 2020-06-14     Tamil Nadu     42687    397.0    23409.0  18881.000000
...          ...            ...       ...      ...        ...           ...
5765  2023-02-21     Tamil Nadu   3594791  38049.0        NaN   4618.104430
5876  2023-02-22     Tamil Nadu   3594801  38049.0        NaN   4618.117277
5987  2023-02-23     Tamil Nadu   3594813  38049.0        NaN   4618.132693
6098  2023-02-24     Tamil Nadu   3594826  38049.0        NaN   4618.149394
6209  2023-02-25     Tamil Nadu   3594840  38049.0        NaN   4618.167379

[991 rows x 6 columns]>

In [48]:
from datetime import timedelta,datetime,date

In [49]:
# Convert the date to ordinal values
#df['FIPS'] = df['FIPS'].apply(lambda x: x.toordinal())

In [50]:
# Split the data into X (date) and Y (count)
X = df['FIPS'].values.reshape(-1, 1)
Y = df['Active'].values.reshape(-1, 1)

In [51]:
# Create the linear regression model
model = LinearRegression()

# Train the model using the X and Y data
model.fit(X, Y)



# Make predictions for the next 30 days
next_dates = np.arange(df['FIPS'].max() + 1, df['FIPS'].max() + 31)
next_dates = next_dates.reshape(-1, 1)
predictions = model.predict(next_dates)
predictions

ValueError: Input y contains NaN.